<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Home</title>
</head>
<body>
<h2 th:text="'Welcome ' + ${#authentication.name} + '!'">Welcome</h2>
<h2 th:if="${#authentication.principal.email}"
    th:text="'Email: ' + ${#authentication.principal.email}">
</h2>
<h2>Authorities</h2>
<ul th:each="i : ${#authentication.authorities}">
    <li th:text="${i.authority}"></li>
</ul>
<a th:if="${#authentication.principal.password}" th:href="@{/user/change-password}">
    Change password
</a>
<br>
<a th:if="${#authentication.principal.email == null}" th:href="@{/oauth2/authorization/google}">
    Link to Google
</a>
<br>
<h2 th:if="${param.account_already_linked}">Google account already linked to another user</h2>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
